import os
import pickle
import joblib
import numpy as np
from PIL import Image
import streamlit as st
import tensorflow as tf
from tensorflow.keras import Input
import google.generativeai as genai
from sklearn.preprocessing import LabelEncoder
from sentence_transformers import SentenceTransformer
from torch.utils.cpp_extension import CppExtension, BuildExtension